.form-field-label { font-weight: bold; color: $verde; }

.form-field-label-string { font-weight: bold; color: $azul; }

.form-field-label-integer { font-weight: bold; color: $morado; }

.form-field-label-login { font-weight: bold; color: $naranja; }

.form-field-label-password { font-weight: bold; color: $rosa; }

.form-field-label-email { font-weight: bold; color: $amarillo; }

.form-field-label-textarea { font-weight: bold; color: $negro; }

.form-field-label-date { font-weight: bold; color: $gris-100; }

.form-field-label-decimal { font-weight: bold; color: $gris-200; }

.form-field-label-enum { font-weight: bold; color: $gris-300; }
