.form-field-type { 
    border: 1px solid #000;
    text-align: center; 
}

.form-field-type-string { 
    border: 1px solid #111;
    text-align: center; 
}

.form-field-type-integer { 
    border: 1px solid blue;
    text-align: center; 
}

.form-field-type-decimal { 
    border: 1px solid rgb(196, 76, 76);
    text-align: center; 
}

.form-field-type-date { 
    border: 1px solid #2a950c;
    text-align: center; 
}

.form-field-type-array { 
    border: 1px solid #000;
    text-align: center; 
}

.form-field-type-email { 
    border: 1px solid #000;
    text-align: center; 
}

.form-field-type-enum { 
    border: 1px solid #000;
    text-align: center; 
}

.form-field-type-image { 
    border: 1px solid #000;
    text-align: center; 
}

.form-field-type-password { 
    border: 1px solid #000;
    text-align: center; 
}

.form-field-type-login { 
    border: 1px solid #000;
    text-align: center; 
}

.form-field-type-state { 
    border: 1px solid #000;
    text-align: center; 
}

.form-field-type-textarea { 
    border: 1px solid #000;
    text-align: center; 
}

.form-field-type-timestamp { 
    border: 1px solid #000;
    text-align: center; 
}